<div id="content">
# Datenschutz

Der Schutz Ihrer persönlichen Daten ist mir wichtig. Ich verarbeite Ihre Daten daher ausschließlich
auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen
informiere ich Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen meiner Website.


## Kommunikation mit mir

Wenn Sie per E-Mail Kontakt mit mir aufnehmen, werden Ihre angegebenen Daten zwecks Bearbeitung der
Anfrage und für den Fall von Anschlussfragen sechs Monate bei mir gespeichert. Diese Daten geben
wir nicht weiter.


## Logging

Ich loggen Ihre Anfragen auf meinem Server für eine Woche zur Behebung von Fehlfunktionen meiner
Webseite folgende Daten:

* User-Agent, d.h. Browsertyp, Browserversion und Betriebssystem
* Referrer URL, d.h. von welcher Seite stammt der Link, auf den geklickt wurde
* IP-Adresse
* Uhrzeit und Datum


# Cookies

Diese Seite verwendet Session Cookies.

Die Sessions werden nicht am Server gespeichert. Löschen Sie das Cookie in ihrem Browser, sind alle
Daten über die Session damit gelöscht und Sie müssen sich erneut anmelden.

Diese Webseite verwendet weder einen Webanalysedienst noch ein Content Delivery Network.
Es werden keine Daten an Dritte übertragen.


## Ihre Rechte

Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung,
Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer
Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in
einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Österreich
ist dies die [Datenschutzbehörde](https://www.dsb.gv.at/).


## Kontakt

Sie erreichen mich unter folgenden Kontaktdaten:

Mag Stefan Haslinger<br/>
Informatom EDV-Dienstleistungen<br/>
Vorgartenstrasse 145/2/3<br/>
1020 Wien, Austria<br/>

Telefon: +43 680 213 3030

Email: [stefan.haslinger@informatom.com](mailto://stefan.haslinger@informatom.com)
</div>
<script type='text/javascript'src="/showdown.js"></script>