<div class="block notice">
  <h3>BMI</h3>
  <div class="content">
    <p><em><small>Der Body-Mass-Index (BMI) ... ist eine Maßzahl für die Bewertung des Körpergewichts eines Menschen in Relation zu seiner
       Körpergröße. Sie wurde 1870 von Adolphe Quetelet entwickelt.<br/>
       Der BMI bezieht das Körpergewicht ... auf die Körperoberfläche, die näherungsweise aus dem
       Quadrat der Körpergröße berechnet wird. Der BMI ist lediglich ein grober Richtwert, da er weder Statur und
       Geschlecht noch die individuelle Zusammensetzung der Körpermasse aus Fett- und Muskelgewebe eines Menschen
       berücksichtigt.</small></em></p>
    <p>Quelle: Wikipedia: "Body-Mass-Index"</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="http://de.wikipedia.org/wiki/Body-Mass-Index" target="new">BMI (Wikipedia)</a></li>
  </ul>
</div>